<!DOCTYPE html>
<html>
<head>
  <title>CommentsExample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		
		<div id="welcome">
				<%if session[:user_id] != nil %>
					<p>Welcome Back <%= current_user.username %></p>
				<%else%>
					<p>Beach Blog!</p>
				<%end%>
		</div>

				<nav>
			<%= link_to "Comments-example", root_path %>
			<%= link_to "User List", users_path %>

			<% if current_user %>
				<%=link_to "sign out", sessions_path, method: :delete %>
				<%=link_to "new post", new_post_path %>
			<% else %>
				<%=link_to "sign up", new_user_path %>
				<%=link_to "sign in", login_path %>
			<% end %>
		</nav>
	</header>
	<main>

<%= yield %>

	</main>
</body>
</html>
